$times: 30,60,90;
@each $time in $times{ .anim-#{$time}{ animation-duration: #{$time}s; } }
$tfuncs: ease, ease-in, ease-out, ease-in-out;
@each $tf in $tfuncs{ .anim-#{$tf}{ animation-timing-function: #{$tf}; } }

.anim-infinite{ animation-iteration-count: infinite; }
.animDemo{ animation: zoom-in-out-infinite 1.5s ease-in-out infinite; }
.animZoom{animation-name: zoom-in-out-infinite;}

.timeAlert{
  transition: all 1s ease-in-out;
  background-color: rgba(108, 117, 125, 1);
}
.timeAlert.anim{
  animation-name: time-alert-anim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes time-alert-anim {
    0% { background-color: rgba(255,0,0,0.2); }
    50% { background-color: rgba(255,0,0,1); }
    100% {background-color: rgba(255,0,0,0.2); }
}




@keyframes zoom-in-out-infinite {
    0% { scale: 100%; }
    50% { scale: 150%; }
    100% { scale: 100%; }
}